body {
  background-color: #CCCCCC;
}
header {
  font-family: arial;
  color: #0b7eb8;
  font-size: 43px;  
  line-spacing: 1;
  border-bottom: 12px solid #00000F;
}
.highlight {
 background: yellow;
 font-weight: bold;
}
#links {
  border-bottom: 5px dotted black;
}



